<!doctype html>
<html>
<head>
	<title>Meadowlark Travel</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet/less" href="/style.less">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js" ></script>
    <head>
<body class="d-flex flex-row justify-content-center">
{{{body}}}
</body>
<html>
