<div class="d-flex flex-column authForm__container align-self-center">
    <form action="/sign-in" method="POST" class="container d-flex flex-column authForm">
        <h4 class="authForm__title align-self-center">SignIn</h4>
        <div class="form-group authForm__formGroup">
            <label for="emailInput" class="col-md-4 control-label">Email</label>
            <div class="col-md-10">
                <input type="email" class="form-control authForm__input" placeholder="Enter email" id="emailInput" name="email">
            </div>
        </div>
        <div class="form-group authForm__formGroup">
            <label for="loginInput" class="col-md-4 control-label">Login</label>
            <div class="col-md-10">
                <input type="login" class="form-control authForm__input" placeholder="Enter login" name="login" id="loginInput" required>
            </div>
        </div>
        <div class="d-flex flex-column align-items-end form-group">
            <span class="j-signIn-on authForm__changeMode">don't have a account?(SignUp)</span>
            <span class="j-signUp-on authForm__changeMode">i have a account already(SignIn)</span>
        </div>
        <button type="submit" class="btn btn-primary btn-lg align-self-start">submit</button>
    </form>
    <div class="output">Hello</div>
</div>
<script>
    $(document).ready(() => {
        $('.j-signUp-on').hide();
        $('.j-signIn-on')
                .off('click.changeSignInMode')
                .on('click.changeSignInMode', (e) => {
                    console.log('change on signIn');
                    $('.authForm__title').html('SignUp');
                    $('.authForm').attr('action', '/sign-up');
                    $('.j-signIn-on').hide();
                    $('.j-signUp-on').show();
                })
        $('.j-signUp-on')
                .off('click.changeSignUpMode')
                .on('click.changeSignUpMode', (e) => {
                    console.log('change on signIn');
                    $('.authForm__title').html('SignIn');
                    $('.authForm').attr('action', '/sign-in');
                    $('.j-signUp-on').hide();
                    $('.j-signIn-on').show();
                })
    })
</script>