<div class="w-100 d-flex flex-column home">
    <div class="w-100 d-flex justify-content-between bg-white home__top-block-container">
        <div class="flex-grow-1 d-flex justify-content-sm-start align-items-center home__top-block">Aliquam dui</div>
        <div class="flex-grow-1 d-flex justify-content-sm-start align-items-center home__top-block">Vivamus ut</div>
        <div class="flex-grow-1 d-flex justify-content-sm-start align-items-center home__top-block">Aliquam tempus</div>
        <div class="flex-grow-1 d-flex justify-content-sm-start align-items-center home__top-block">Donec erat</div>
    </div>
    <h2 class="ml-auto mr-auto home__main-title">Duis nec risus vitae magna</h2>
    <div class="ml-auto mr-auto d-flex flex-column w-75 flex-grow-1 home__main-content"></div>
    <div class="home__bottom-place"></div>
</div>