<form class="form-group" role="form" enctype="multipart/form-data" action="/photo-fest/{{year}}/{{month}}" method="POST">
    <h2>/photo-fest/{{year}}/{{month}}</h2>
    <div class="form-group">
        <label for="fieldName" class="col-sm-2 col-form-label">
            Name
        </label>
        <div class="col-sm-4">
            <input class="form-control" name="name" id="fieldName">
        </div>
    </div>
    <div class="form-group">
        <label for="fieldEmail" class="col-sm-2 col-form-label">
            email
        </label>
        <div class="col-sm-4">
            <input class="form-control" name="email" id="fieldEmail">
        </div>
    </div>
    <div class="form-group">
        <label for="fieldfile" class="col-sm-2 col-form-label">
            Name
        </label>
        <div class="col-sm-4">
            <input class="form-control" name="name" id="fieldName" type="file" accept="image/*" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <button class="btn btn-primary">submit</button>
        </div>
    </div>
</form>