body {
    height: 100vh;
    display: flex;
    background-color: rgba(0,0,0,0.04);
}

.authForm {

    &__container {
        width: 34%;
        min-width: 280px;
        border: 1px solid rgba(0,0,0,0.08);
        background-color: rgba(0,0,0,0.09);
        padding: 20px;
    }

    &__changeMode {
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            color: lightslategray;
        }
    }
}

.app {
    &__vacationCard {
        margin: 12px 0;
        background-color: lightsteelblue;
    }
}

.profile {

    width: 80%;
    height: 100%;
    background-color: #212529;
    padding: 10px 20px;
    color: white;
    border: 1px solid rgba(0,0,0,0.05);
    overflow: hidden;

    &__headerInfo {
        font-size: 1.1em;
    }
    &__avatar {

    }
}

.add-customer {
    &__submit-container {
        padding: 10px;
    }

    &__form {
        min-height: 40%;
        width: ~'calc(100% - 220px)';
        //flex-grow: 1;
    }

    &__success-output {
        max-width: 220px;
        color: limegreen;
    }

    &__error-output {
        max-width: 220px;
        color: mediumvioletred;
    }

    &__control-block {
        margin-top: 15px;
        padding-bottom: 4px;
        &:not(:last-child) {
          border-bottom: 2px solid snow;
        }
    }

    &__control-container {
    }

    &__control-outer-container {
        overflow: auto;
        max-height: 54%;
        padding-right: 4px;
    }

    &__control-block-name {
        font-size: 1.1em;
    }

    &__control-block-delete {
    }
}

.home {
    &__top-block {
        background-color: yellowgreen;
        border-right: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
        box-shadow: 0 1px 16px 2px lightgrey;
        font-size: 20px;
        padding-left: 4px;

        &:not(:last-child) {
            margin-right: 2px;
        }

        &-container {
            min-height: 58px;
        }
    }

    &__main-title {
        margin-top: 6%;
    }

    &__main-content {
        min-height: 340px;
        background-color: darkslategray;
    }

    &__bottom-place {
        margin-top: 12px;
        height: 40px;
        border-top: 1px solid lightgrey;
    }
}