<div class="container profile row">
    <div class="d-flex w-100">
        <form action="/api/add-customer" method="POST" class="d-flex flex-column add-customer__form">
            <div class="form-group d-flex justify-content-between">
                <label for="firstNameInput" class="col-form-label">First name</label>
                <div class="col-sm-6">
                    <input id="firstNameInput" name="firstName" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group d-flex justify-content-between">
                <label for="lastNameInput" class="col-form-label">Last name</label>
                <div class="col-sm-6">
                    <input id="lastNameInput" name="lastName" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group d-flex justify-content-between">
                <label for="phoneInput" class="col-form-label">Phone number</label>
                <div class="col-sm-6">
                    <input id="phoneInput" name="phone" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group d-flex justify-content-between">
                <label for="emailInput" class="col-form-label">email</label>
                <div class="col-sm-6">
                    <input id="emailInput" name="email" type="Email" class="form-control">
                </div>
            </div>
            <div class="add-customer__submit-container">
                <input type="submit" class="btn btn-primary" value="add customer">
            </div>
        </form>
        <div class="add-customer__success-output"></div>
        <ul class="add-customer__error-output"></ul>
    </div>
    <div class="add-customer__control-outer-container">
        <div class="add-customer__control-container d-flex flex-column">
            {{#each currentCustomers }}
                <div class="add-customer__control-block d-flex flex-column" data-user-id="{{ customerId }}">
                    <div class="add-customer__control-block-name">{{ fullName }}</div>
                    <div class="add-customer__control-block-email">{{ email }}</div>
                    <div class="add-customer__control-block-phone">{{ phone }}</div>
                    <div class="add-customer__control-block-info">{{ info }}</div>
                    <span class="add-customer__control-block-delete align-self-end">
                        <button class="btn btn btn-toolbar j-delete-customer">delete</button>
                    </span>
                </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- some Jquery scripts -->
<script>
    $(document).ready(() => {
        $('.add-customer__form')
                .off('submit.addCustomer')
                .on('submit.addCustomer', (e) => {
                    e.preventDefault();
                    e.stopImmediatePropagation();
                    const $form = $(e.target);
                    const $outputSuccess = $('.add-customer__success-output');
                    const $outputError = $('.add-customer__error-output');
                    const data = $form.serialize();

                    $.ajax({
                        data,
                        method: $form.attr('method'),
                        url: $form.attr('action'),
                        success: (data) => {
                            console.log(data);
                            const { errors } = data;
                            if (!errors) {
                                $outputSuccess.html('Data was success downloaded')
                            } else {
                                const errorsList = errors.map(err => `<li>${err}</li>`);
                                $outputError.html(errorsList);
                            }
                        },
                        error: (err) => {
                            console.log(err);
                            $outputError.html('You have errors');
                        }
                    })
                });

        $('.j-delete-customer')
                .off('click.addCustomer')
                .on('click.addCustomer', (e) => {
                    const customerId = $(e.target).parents('.add-customer__control-block').data('user-id');
                    console.log(customerId);
                    $.ajax({
                        url: '/api/delete-customer-by-id',
                        data: {
                            customerId
                        },
                        method: 'DELETE',
                        success: (data) => {
                            console.log('delete success');
                        }
                    })
                })
    })
</script>