<div class="container profile">
    <div class="row profile__header">
        <div class="col-sm-4 profile__avatar"><img class="w-100" src="/img/profile_icon.png" alt="profile_icon"></div>
        <div class="col-sm-8 container profile__headerInfo">
            <div class="row">
                <div class="col-sm-4">name</div>
                <div class="col-sm-8">{{ fullName }}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">email</div>
                <div class="col-sm-8">{{ email }}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">phone</div>
                <div class="col-sm-8">{{ phone }}</div>
            </div>
        </div>
    </div>
</div>